.HomePage{
    background-color: #D3F3F1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .HomeHeader{
        background-color: #E0E0EB;
    }

    .Movies{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .Movie{
            display: flex;
            flex-direction: row;

            .ImageContainer{
                width: 150px;
                height: 350px;
                display: flex;
                flex-direction: row;
                overflow: hidden;
                align-items: center;
                justify-content: center;
                .MovieImage{
                    height: 300px;
                    
                }
            }
        }
    }

}